.banner {
    padding: 1rem 15vw ;
    background-color: var(--verde-secundario);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    /* position: relative; */
}

.titulo {
    font-family: var(--fonte-principal);
    color: white;
    letter-spacing: 1.5px;
    font-size: 2.5rem;
    margin: 1.25rem 0;
}

.paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    line-height: 0.8rem;
}

.imagens {
    position: relative;
    height: 22vw;
    /* padding-right: 10vw; */
}

.imagens > .fotoVitoria {
    position: absolute;
    right: 0;
    bottom: 1.75vw;
    width: 14vw;
    border-radius: 50%;
}

.imagens > .circuloColorido {
    position: absolute;
    right: 2vw;
    bottom: 3vw;
    width: 15vw;
}

.zapzap {
    font-size: 1rem;
    background-color: white;
    font-weight: bold;
    color: var(--verde-secundario);
    transition: 0.3s;
    margin-bottom: 1rem;
}

.zapzap:hover {
    background-color: var(--verde-principal);
    transition: 0.2s;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .titulo {
        font-size: 2rem;
    }
    
    .imagens {
        position: relative;
        height: 250px;
        /* padding-right: 10vw; */
    }
}

@media (max-width: 744px) {
    .banner {
        padding: 0.5rem 1rem;
        display: block;
        flex-direction: column;
    }

    .titulo {
        margin-bottom: 1rem;
        letter-spacing: 0.5px;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

    .imagens {
        height: 280px;
    }

    .imagens > .fotoVitoria, .imagens > .circuloColorido {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .imagens > .fotoVitoria {
        width: 220px;
        transform: translate(2rem, 0px);
    }

    .imagens > .circuloColorido {
        width: 240px;
        transform: translate(-1.5rem, 0px);
    }

    .zapzap {
        font-size: 1.5rem;
    }
}